.cabeçario{
    border-style: ridge;
    display: flex;
    justify-content: space-around;
}

.correio{
    display: flex;
    justify-content: space-between;
}

.data-e-hora{
    border-style: outset;
    height: 20px;
}
  

.título{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: red;
}

.carro{

}

.legenda-foto{
    font-size: 20px;
    border-style: none;
    background-color: crimson;
    width: 620px;
}

