body {
    background-color: lightgrey;
}

.inicio {
    border-style: solid;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 150px;
    border-color: blue;


}

.home {
    border-style: none;
    background-color: aqua;
    height: 60px;
    font-size: 10px;

    p {
        color: brown
    }
}


p {
    color: indigo;
    size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


p1 {
    color: darkgreen;
    size: 25px;
}

.livros {
    display: flex;
    justify-content: space-around;
}

.livros {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.videos {
    display: flex;
    justify-content: space-around;
}

table {
    border-style: dashed;
    border-color: red;
    width: 500px;
    justify-content: center;
    align-items: center;
}


.consulta {
    border-style: none;
    background-color: yellow;
    width: 650px;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: darkgreen;
}

.final {
    border-style: none;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    width: 1275px;
    font-size: 18px;
}