body {
    background-color: white;
}

.inicio {
    background: #ffffff;
    padding: 10px;
    font-size: 14px;
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #ddd;
}

.cabeçario {
    background: #c4170c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
}

.pesquisa input {
    padding: 6px;
    border: none;
    border-radius: 4px;
}

.pesquisa button {
    background: #8c0f08;
    color: white;
    border: none;
    padding: 7px 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.main-news {
    background: white;
    padding: 30px;
    flex: 2;
    border-radius: 10px;
}

.main-news h1 {
    color: #c4170c;
    font-size: 32px;
}

.side-news {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card p {
    padding: 10px;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #eee;
}