body{
    background-color: lightgrey;
}

.entrada{
text-align: center;
border-style: solid;
border-color:blue;
background-color: bisque;
height: 200px;
font-size: 75px;
color:darkgreen ;
display: flex;
justify-content: space-between;
padding-top: 10px;
}


.cabeçario{
text-align: center;
color: darkred;
border: none;
border-color: aqua;


}

.texto{
    text-align: center;
    font-size: 20px;
}

.livro{
    text-align: center;
}

.aprenda{
text-align:center ;
font-size: 20px;
}

p{
    color:indigo;
    size: 18px;
}

.cabeçario{
    color:darkred
}

.livros{
    display: flex;
    justify-content: space-around;
}

.conta{
text-align: center;
font-size: 20px;
}
.videos{
    display: flex;
    justify-content: space-around;
}

table{
    border-style: dotted;
    border-color: red;
    margin: auto;
}
.consulta{
    border-style: none;
    background-color: yellow;
    width: 500px;
    color:darkred;
    margin: auto;
}
.final{
    border-style: solid ;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
}

